.list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list-item {
  flex: 0 1 250px;
  padding: 10px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
  border-radius: 5px;
}
